<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="#">
</head>
<style>
    .separador {
        border-left: 2px solid white;
        height: 100%;
    }

    .selected {
        background: #41ff0c !important;
        color: white;
    }
    tr {
        cursor: pointer;
    }
</style>
<body>

<!-- NAVBAR -->
<nav th:insert="fragments/navigation_admin.html :: navbar_admin"></nav>

<div class="container-fluid" style="width: 90%">
    <div class="table table-responsive">
        <table id="table_cita" class="table caption-top">
            <caption id="table_caption" class="fw-bold text-center text-primary" th:text="#{table_cita.caption}"
                     style="font-size: large"></caption>
            <thead>
            <tr class="text-center text-light bg-primary" style="font-size: small">
                <th id="thcol0" scope="col" th:text="#{table_cita.col0}"/>
                <th id="thcol1" scope="col" th:text="#{table_cita.col1}"/>
                <th id="thcol2" scope="col" th:text="#{table_cita.col2}"/>
                <th id="thcol3" scope="col" th:text="#{table_cita.col3}"/>
                <th id="thcol4" scope="col" th:text="#{table_cita.col4}"/>
                <th id="thcol5" scope="col" th:text="#{table_cita.col5}"/>
            </tr>
            </thead>
            <tbody>
            <tr class="result text-center" style="border-bottom: 2px solid #0d6efd; font-size: small"
                data-th-each="cita : ${citas}">
                <td th:id="'td0' + ${citaStat.index}" th:text="${cita.codCita}"/>
                <td th:id="'td1' + ${citaStat.index}" th:text="${cita.paciente.codAr}"/>
                <td th:id="'td2' + ${citaStat.index}" th:text="${cita.medico.codMedico}"/>
                <td th:id="'td3' + ${citaStat.index}" th:text="${cita.fechaCita}"/>
                <td th:id="'td4' + ${citaStat.index}" th:text="${cita.causa}"/>
                <td th:id="'td5' + ${citaStat.index}" th:text="${cita.tipo}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-evenly mb-5">
        <button id="btn_borrar"
                class="btn btn-primary rounded-0 px-5"
                th:text="#{boton.borrar}" th:onclick="|eliminar()|"/>
    </div>
    <div class="modal">

    </div>
</div>
<script type="text/javascript" src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var citas = [[${citas}]];

    function hideIcon(self) {
        self.style.backgroundImage = 'none';
    }

    function showIcon(self) {
        self.style.backgroundImage = "url('/icons/search.svg')";
    }

    $('#buscador').on('keyup', function () {
        var value = $(this).val();
        var data = filtrarTabla(value, citas);
        refrescarTabla(data);
    });

    function filtrarTabla(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            value = value.toLowerCase();
            var filteredPaciente = data[i].paciente.codAr + "";
            var filteredMedico = data[i].medico.codMedico + "";
            var filteredFecha = data[i].fechaCita.toLowerCase();
            var filteredCausa = data[i].causa.toLowerCase();
            var filteredTipo = data[i].tipo.toLowerCase();

            if (filteredPaciente.includes(value) || filteredMedico.includes(value) || filteredFecha.includes(value) ||
                filteredCausa.includes(value) || filteredTipo.includes(value)) {
                filteredData.push(data[i]);
            }
        }
        return filteredData;
    }

    function refrescarTabla(data) {

        var table = document.getElementById("table_cita");
        var caption = document.getElementById("table_caption").innerText;

        var header = [];
        for (var i = 0; i < table.rows[0].cells.length; i++) {
            var headerCol = document.getElementById("thcol" + (i)).innerText;
            header.push(headerCol);
        }

        table.innerHTML = ''
        var cabecera = `<caption id="table_caption" class="fw-bold text-center text-primary"
                     style="font-size: large">${caption}</caption>
                <thead>
                <tr class="text-center text-light bg-primary" style="font-size: small">
                    <th id="thcol0" scope="col">${header[0]}</th>
                    <th id="thcol1" scope="col">${header[1]}</th>
                    <th id="thcol2" scope="col">${header[2]}</th>
                    <th id="thcol3" scope="col">${header[3]}</th>
                    <th id="thcol4" scope="col">${header[4]}</th>
                    <th id="thcol5" scope="col">${header[5]}</th>
                 </tr>
                </thead>`
        table.innerHTML = cabecera;

        if ($('#buscador').val() != '') {
            for (var i = 0; i < data.length; i++) {
                var row = `
                <tbody>
                <tr class="result text-center" style="border-bottom: 2px solid #0d6efd; font-size: small">
                            <td>${data[i].codCita}</td>
                            <td>${data[i].paciente.codAr}</td>
                            <td>${data[i].medico.codMedico}</td>
                            <td>${data[i].fechaCita}</td>
                            <td>${data[i].causa}</td>
                            <td>${data[i].tipo}</td>
                       </tr>
                </tbody>`
                table.innerHTML += row;
            }
        } else {
            for (var i = 0; i < citas.length; i++) {
                var row = `
                <tbody>
                <tr class="result text-center" style="border-bottom: 2px solid #0d6efd; font-size: small">
                            <td>${citas[i].codCita}</td>
                            <td>${citas[i].paciente.codAr}</td>
                            <td>${citas[i].medico.codMedico}</td>
                            <td>${citas[i].fechaCita}</td>
                            <td>${citas[i].causa}</td>
                            <td>${citas[i].tipo}</td>
                       </tr>
                </tbody>`
                table.innerHTML += row;
            }
        }
    }

    /*---------------------------------------------*/

    $(function () {
        $('tr').click(function (e) {
            if ($(this).hasClass('selected')) {
                cleanTr();
            } else {
                cleanTr()
                $(this).addClass('selected')
            }
        })

        function cleanTr() {
            $('.selected').each(function (index, element) {
                $(element).removeClass('selected')
            })
        }
    })

    /*---------------------------------------------*/

    var table = document.getElementById("table_cita");

    function codCitaSeleccionada(data) {
        var cita;
        var codCita;
        var id = "td0" + $(".selected").index();
        codCita = document.getElementById(id).innerText;
        for (var i = 0; i < data.length; i++) {
            if (codCita == data[i].codCita) {
                cita = data[i];
            }
        }
        return codCita;
    }

    function itaSeleccionada(data) {
        var cita;
        var codCita;
        var id = "td0" + $(".selected").index();
        codCita = document.getElementById(id).innerText;
        for (var i = 0; i < data.length; i++) {
            if (codCita == data[i].codCita) {
                cita = data[i];
            }
        }
        return cita;
    }


    function buscar() {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=ISO-8859-1',
            url: "/salud/api/cita/",
            dataType: 'json',
            async: true,
            complete: function (data) {

                var table = document.getElementById("table_cita");
                var caption = document.getElementById("table_caption").innerText;

                var header = [];
                for (var i = 0; i < table.rows[0].cells.length; i++) {
                    var headerCol = document.getElementById("thcol" + (i)).innerText;
                    header.push(headerCol);
                }

                table.innerHTML = ''
                var cabecera = `<caption id="table_caption" class="fw-bold text-center text-primary"
                     style="font-size: large">${caption}</caption>
                <thead>
                <tr class="text-center text-light bg-primary" style="font-size: small">
                    <th id="thcol0" scope="col">${header[0]}</th>
                    <th id="thcol1" scope="col">${header[1]}</th>
                    <th id="thcol2" scope="col">${header[2]}</th>
                    <th id="thcol3" scope="col">${header[3]}</th>
                    <th id="thcol4" scope="col">${header[4]}</th>
                    <th id="thcol5" scope="col">${header[5]}</th>
                 </tr>
                </thead>`
                table.innerHTML = cabecera;

                for (var i = 0; i < data.length; i++) {
                    var row = `
                <tbody>
                <tr class="result text-center" style="border-bottom: 2px solid #0d6efd; font-size: small">
                            <td>${data[i].codCita}</td>
                            <td>${data[i].paciente.codAr}</td>
                            <td>${data[i].medico.codMedico}</td>
                            <td>${data[i].fechaCita}</td>
                            <td>${data[i].causa}</td>
                            <td>${data[i].tipo}</td>
                       </tr>
                </tbody>`
                    table.innerHTML += row;
                }
            },
        });
    }

    function eliminar() {
        if (document.getElementById("td0" + $(".selected").index()) != null) {
            $.ajax({
                type: 'Delete',
                contentType: 'application/json; charset=ISO-8859-1',
                url: "/salud/api/cita/delete=" + codCitaSeleccionada(citas),
                dataType: 'json',
                async: true,
                complete: function () {
                    setTimeout(1000);
                    location.reload();
                },
            });
        } else {
            alert("Seleccione un elemento de la tabla");
        }
    }

</script>
</body>
</html>

